
  /* General */
  
  .textbf {
      font-weight:600;
  }
  
  a{
    line-height: 1.8;
  }
  
  .box {
    border-top: 3px solid #314658;
  }
  
  .box-title {
      font-weight: 600;
  }
  
  .popover {
      max-width: 100%;
  }
  
  .release {
    font-family: 'Oswald', sans-serif;
    font-variant: small-caps;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    color: black;
    display: table-cell;
    padding: 8px 8px 0 0;
    color: #314658;  
  }
  
   @media (max-width: 767px) {
    .release {
      font-size: 14px
    }
  }
  
  /* #314658 */
  
  .bg-blue {
    background-color: rgba(49, 70, 88) !important; 
  }
  
  .nav-tabs>li>a {
      color: #B22222 !important;
      font-weight: 600;
  }
  /* Title */
  
  .name {
      font-family: 'Oswald', sans-serif;
      color: #314658;
      white-space: nowrap;
      padding-left: 10px;
      font-variant: small-caps;
  }
  
  .bottom-name {
      color: black;
      font-variant: small-caps;
      font-family: 'Oswald', sans-serif;
  }
  
  @media (max-width: 767px) {
    .skin-black .main-header .logo {
      background-color: white;
      font-size: 16px;
    }
    .skin-black .main-header img {
      max-width: 25px;
        max-height: 25px;
    }
  }

.btn-intro {
  margin: auto;
  display: block;
  margin-top: 20px;
  color: #314658;
}


.btn-intro:hover {
  background-color: white;
}

.btn-report {
  background-color: white;
}
 

body{
  color:#333;
}

* {
  box-sizing: border-box;
}

/* Download*/
  
  div.dt-buttons {
      float: right;
  }
  
  .well {
      background-color: #fff !important;
      border-top: 3px solid #314658;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  
  .navbar-brand {
      font-size: 14px;
      font-weight: 800;
  }
  
  ul.nav.nav-pills.nav-stacked {
      line-height: 1;
  }
  
  .nav-stacked>li.active>a,
  .nav-stacked>li.active>a:hover {
      border-left-color: white;
      /*#222d32;*/
  }
  
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:focus,
  .nav-pills>li.active>a:hover {
      background-color: rgba(49, 70, 88, 0.7);
  }
  /* table classes from bootsrap */
  
  .table-active,
  .table-active>td,
  .table-active>th {
      background-color: rgba(0, 0, 0, .075)
  }
  
  .table-hover .table-active:hover {
      background-color: rgba(0, 0, 0, .075)
  }
  
  .table-hover .table-active:hover>td,
  .table-hover .table-active:hover>th {
      background-color: rgba(0, 0, 0, .075)
  }
  
  /*Footer*/
  
  footer p {
      text-align: center;
      color: grey;
      font-size: small;
  }
  
  footer a {
      color: grey;
  }
  
  footer a:hover {
      color: #314658;
      text-decoration: underline;
  }